*{margin:0;padding:0;}/*여백초기화*/
a{text-decoration: none; color: #000;}/*밑줄,글자색바꾸기*/
ul{list-style: none;}/*블릿없애기*/
body{
	font-family:'Noto Sans KR', sans-serif;
	font-size:14px;
	color:#fff;
	line-height:1.6em;
	min-width: 390px;
	background-color: #fff;
}
#video_wrap{
	margin: 0 auto;
	text-align: center;
}
.vide0{
	margin: auto;
	text-align: center;
}