*{margin:0;padding:0;}/*여백초기화*/
a{text-decoration: none; color: #000;}/*밑줄,글자색바꾸기*/
ul{list-style: none;}/*블릿없애기*/
body{
	font-family:'Noto Sans KR', sans-serif;
	font-size:14px;
	color:#fff;
	line-height:1.6em;
	min-width: 390px;
	background-color: #fff;
}
#video_wrap{
	width: 390px;
	height: 844px;
	margin: 0 auto;
}
.video{
	width: 85%;
	margin: 0 auto;
	margin-top: 20px;
}